body {
    background-image: url('./../images/Rasen.jpg');
/*background-color: #eee;*/
padding-bottom:70px;
}


h1,h2,h3,h4,h5,h6,body {
font-family: "Tahoma" !Important;
}

.navbar-header a img {
margin-right: 0;
}

.carouselck {
margin-top: 8em;
}

.carouselck_pag_ul {
margin-right: 10em !important;
}

.carouselck_images img {

box-shadow: 5px 5px 80px black !important;
}

a {
color: #C00912 !important;
}

/*.carousel-inner {
box-shadow: 5px 5px 80px black;
}

.carousel-indicators li, .carousel-indicators .active {
height: 20px !important;
width: 20px !important;
}


#container-slideshow {
padding-top: 10em;
}
*/
#nav-main {
    margin-bottom: 5em;
}


#container-main {
    padding-top: 2em;
}

.container-red {
    background-color: rgba(256,256,256,0.9);

    border-radius: 5px;
    border: 2px solid #aaa;
    padding: 1em;
    min-height: 50em;
}

#container-left {
    padding-top: 2em;
}

#container-right {
    /*padding-top: 2em;*/
}

.col-md-offset-half {
    margin-left: 2.08888887%;
}

.col-md-half {
    width: 2.08888887%;
    float: left;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.entry-meta {
    display: block;
    font-size: 0.9em;
    padding-bottom: 1em;
}

.entry-meta ul {
    display: inline;
}

.entry-meta li {
    display: inline-block;
    padding-right: 2em;
}

header.entry-header {
    text-decoration: underline;
}


.pagination ul li {
    display: inline-block;
    padding-right: 1em;

}
.pagination ul {
    display: inline;
}
.pagination {
    display: block !important;
    text-align: center;
    border: 1px solid #aaa;
    font-size: 0.9em;
    padding: 1em;
}

#container-left > ul > li > ul > li {
    padding-bottom: 1em;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

#container-left > ul.nav {
    font-size:1.2em !important;
}

#container-right > div {
    border-bottom: 1px solid #aaa;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}

div .carouselck_pag {
    right: 0;
    position: relative;
}

div .carouselck_pag_ul {
    text-align: center !important;
    margin-right: 0 !important;
    position: absolute;
    width: 100%;
}

div .blog-featured > .clearfix > div {
    border-bottom: 1px solid #aaa;
}

div .carouselck_wrap {

    margin-bottom: 2em;
}

ul .small {
    font-size: 95%;
}

.carouselck_wrap .carouselck_pag .carouselck_pag_ul .carouselck_pag_nav {
    background: none !important;
}

.carouselck_wrap .carouselck_pag .carouselck_pag_ul .carouselck_pag_nav > span {
    padding: 2px;
}

div .carouselck_pag_nav > span  {
    background-image: url("./../images/button-football.png");
    background-size: 22px;
    content: url('./../images/button-football.png');
    width: 22px !important;
    height: 22px !important;
}

div .carouselck_wrap .carouselck_pag .carouselck_pag_ul .carouselck_pag_nav.carouselckcurrent > span {
    background-image: url("./../images/button-football-active.png");
    background-size: 22px;
    content: url('./../images/button-football-active.png') !important;
    width: 22px !important;
    height: 22px !important;
}


/* Editor bugfixes */
div .chzn-container {
    width: auto !important;
}

div.chzn-container ul li input {
    width: auto !Important;
}

#container-main .page-header {
    padding-bottom: 0;
    margin-top: 0;
}

div .seperator {
    border-bottom: 1px solid #aaa;
}

.btn-primary {

    color: #fff !important;
    background-color: #C00912 !important;
    background-image: none;
}
.btn-primary:focus, .btn-primary:hover {
    color: #fff !important;
    background-color: #C00912 !important;
}

div #container-right hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #aaa;
}

/* Add the following to your stylesheet */

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}